# Continuous Integration (CI) is the practice, in software
# engineering, of merging all developer working copies with a shared mainline
# several times a day < http://docs.platformio.org/page/ci/index.html >
#
# Documentation:
#
# * Travis CI Embedded Builds with PlatformIO
#   < https://docs.travis-ci.com/user/integration/platformio/ >
#
# * PlatformIO integration with Travis CI
#   < http://docs.platformio.org/page/ci/travis.html >
#
# * User Guide for `platformio ci` command
#   < http://docs.platformio.org/page/userguide/cmd_ci.html >
#
#
# Please choice one of the following templates (proposed below) and uncomment
# it (remove "# " before each line) or use own configuration according to the
# Travis CI documentation (see above).
#


#
# Template #1: General project. Test it using existing `platformio.ini`.
#

language: python
python:
    - "2.7"
    - "3.7"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    pip: true
    directories:
        - "~/.platformio"

install:
jobs:
  include:
  - name: Test platformio
    python: '2.7'
    install:
    - pip install -U platformio

    #
    # Libraries from PlatformIO Library Registry:
    #
    # http://platformio.org/lib/show/31/Adafruit Unified Sensor
    # http://platformio.org/lib/show/44/Time

    - platformio lib -g install 19 44
    env:
    - PLATFORMIO_CI_SRC=arduino_sketch/arduino_sketch.ino
    script:
    - platformio ci --project-conf=platformio.ini
  - name: Validate wiki markdown
    python: '3.7'
    install:
    - pip install pyyaml markdown_link_extractor requests
    - git clone https://github.com/rhagman/sustainable-green-plants.wiki.git wiki
    script:
    - python test/validate_markdown_links.py wiki
    # This shouldn't fail PRs, so once we're happy with the method we can gate it like this:
    # - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then python test/validate_wiki_markdown.py wiki ; fi
